.App {
  background-color: #ddffdd;
  width: 400px;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.userlist 
{
  flex: 1;
  background-color: coral;
}

.chat 
{
  flex: 8;
  background-color: cornsilk;
}

.inputbox 
{
  flex: 1;
  background-color: cadetblue;
}